.site-name h2 {
  color: green;
}
.site-name {
  margin-top: 0;
  width: 50%;
}
.topbar a {
  padding: 11px 16px;
}
.front .page {
  background-position: 51% -25px;
}
.front .section-header {
  background: transparent url(../../../../images/graffiti.png) 90% 213px no-repeat;
  background-size: 250px;
  min-height: 400px;
}
.front .site-name h2 {
  font-size: 2.125em;
  margin: 30px 0 0 8px;
}
.zone-branding {
  background: url(../../../../images/design-code-share.png) 648px 49px no-repeat;
  padding: 40px 0 0 0;
}
.front .zone-branding {
  background-position: 90% 49px;
  padding: 40px 20px 0 20px;
}
