// Define {less} variables
@color-background : #fff;
@color-background-alternative : #C76533;
@color-text-primary : #3c3c3b;
@color-text-90 : #F0D4C6;
@color-text-80 : #F4E0D6;
@color-text-50 : #E3B299;
// Colors
@color-orange-light : #f2eeed;
@color-orange-light-rgba : rgba(231, 223, 222, 0.5);
@color-orange : #ec5c1d;

// Complementary 1
@color-accent-blue : #006c7c;
@color-accent-blue-light : #005966;

@color-gray-light : #eaeaeb;
@color-gray-med : #d9dada;
@color-gray-dark : #999;

@color-link-dark : @color-accent-blue;
@color-link : @color-accent-blue;

@color-negative : #3c3c3b;
@color-text-negative : #fff;

// Typography
@font-std-fam : "ff-tisa-web-pro-n4", "ff-tisa-web-pro", Georgia, Times, "Times New Roman", serif;
@font-std-wgt : 400;
@font-lgt-fam : "Maven Pro", Helvetica, Arial, sans-serif;
@font-lgt-wgt : 400;
@font-hvy-fam : "Maven Pro", Helvetica, Arial, sans-serif;
@font-hvy-wgt : 900;

@font-size-title : @font-size-base * 2.5;
@font-size-h2 : @font-size-base * 2.285714286; // 32
@font-size-h3 : @font-size-base * 1.25; // 20
@font-size-base : 1em;
@font-size-small : @font-size-base * 0.9;

@parapgraph-space : 1em;

// Grids and spacing
@default-spacing : 16px;