.site-name {
  margin-top: 0;
  width: 50%;
}
.site-name h1 img {
  width: 310px;
}
/* !----- / Main menu ----- */
.navigation h2 {
  clip: none;
  display: block;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.navigation h2 + .main-menu {
  display: block;
}
.topbar {
  position: static;
  width: 100%;
  z-index: 50;
}
.topbar a {
  float: left;
  padding: 11px 16px;
}
.page {
  background-position: 51% -170px;
}
.section-header {
  min-height: 270px;
}
.front .page {
  background-position: -437px 25px;
}
.front .section-header {
  background: transparent url(../../../../images/graffiti.png) 95% 163px no-repeat;
  background-size: 350px;
  min-height: 460px;
}
.front .site-name h2 {
  font-size: 2.125em;
  margin: 40px 0 0 8px;
}
.zone-branding {
  background: url(../../../../images/design-code-share.png) 90% 49px no-repeat;
  padding: 40px 0 0 0;
}
.front .zone-branding {
  background-position: 90% 14px;
  padding: 112px 30px 0 30px;
}
